* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --color-primary: #0d6efd;
    --color-secundary: #eee;
}

/* LOADING */
#loading_overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #000a;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 10000;
    color: #fff;
    flex-direction: column;
}

.loading_hidding {
    display: none !important;
}

.spinner {
    width: 50px;
    height: 50px;
    border: 5px solid #f3f3f3;
    border-top: 5px solid #3498db;
    border-radius: 50%;
    animation: spin 1s linear infinite;
    margin: auto;
    margin-bottom: 20px;
}

@keyframes spin {
    0% {
        transform: rotate(0deg); 
    }
    100% {
        transform: rotate(360deg);
    }
}

.loader_container {
    text-align: center;
    font-family: Arial, sans-serif;
}

/* MAIN */
.main_container {
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
    justify-content: center;
    margin: 20px 0;
    background-image: url("../static/hero_img.jpg");
    height: calc(100dvh - 200px);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.main_content_container {
    background-color: #00000097;
    padding: 20px;
    color: #fff;
    width: 70%;
    border-radius: 20px;
}

h1 {
    text-align: center;
    padding: 30px 0;
    font-size: 2.5rem;
}

#drop_zone {
  border: 1.5px solid var(--color-secundary);
  width: 100%;
  height: 400px;
  border-radius: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 20px;
}

#drop_zone p {
    font-size: 1.5rem;
}

#drop_zone form {
    background-color: rgba(0, 0, 0, 0.539);
}

#dicom_file::file-selector-button,
#submit_btn {
    padding: 5px 10px;
    background-color: var(--color-secundary);
    border: none;
    border-radius: 10px;
    cursor: pointer;
}

#dicom_file::file-selector-button:active,
#submit_btn:active {
    background-color: var(--color-primary);
    color: var(--color-secundary);
}