* {
    font-size: 0.9rem;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

p {
    margin-bottom: 0;
    line-height: 14px;
}

:root {
    --color-primary: #0d6efd;
    --color-secundary: #eee;
}

.container-total {
    display: flex;
    flex-direction: column;
    background-color: #000;
}

.img-container {
    width: 100%;
    max-width: 900px;
    height: calc(100dvh - 200px);
    margin: auto;
}


#dicom_image {
    cursor: zoom-in; /* Para saber que el área es interactiva */
    display: block;
    touch-action: none; /* Evita interferencias en pantallas táctiles */
    object-fit: contain;
    width: 100%;
    height: 100%;
}

.navbar-nav {
    width: 100%;
}

.btn-primary {
    margin: 0;
}

/* PANEL CONTROL */

.fs-6 {
    margin-bottom: 5px;
}

.tools_container {
    display: flex;
    width: 100%;
    gap: 20px;
    padding: 8px;
    flex-wrap: wrap;
    padding-top: 20px;
    justify-content: center;
    border-bottom: 1px solid #eee;
    border-top: 1px solid #eee;
    background-color: #fff;
}

.tool_container {
    display: flex;
    flex-direction: column;
    padding: 10px;
    padding-bottom: 0;
}

.info_lists_container {
    display: flex;
    gap: 8px;
}

.btn_flex {
    display: flex;
    gap: 6px;
}

button {
    padding: 3px 6px;
    background-color: var(--color-secundary);
    color: var(--color-primary);
    border: 1px solid var(--color-primary);
    border-radius: 10px;
    display: flex;
    align-items: center;
    margin-bottom: 5px;
}

button:active,
.active-btn {
    background-color: var(--color-primary);
    color: var(--color-secundary);
}


.btn_container {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.p_label {
    margin-bottom: 6px;
    line-height: normal;
}

.li_info {
    width: 300px;
    word-wrap: break-word;
    overflow-wrap: break-word;
}