{% extends "layout.html" %}

{% block title %}
    Upload
{% endblock %}

{% block nav_item %}
    <li class="nav-item">
        <a class="nav-link active" aria-current="page" href="/">Home</a>
    </li>
{% endblock %}

{% block main %}

    <h1>Welcome to DICOM Viewer</h1>

    <form method="POST" action="/" enctype="multipart/form-data">
        <input id="dicom_file" type="file" name="dicom_file" accept=".dcm">
        <input id="submit_btn" type="submit" value="Upload">
    </form>

    <p id="error"></p>
{% endblock %}

{% block script %}
    <script src="../static/upload.js"></script>
{% endblock %}