{% extends "layout.html" %}

{% block title %}
    Upload
{% endblock %}

{% block nav_item %}
    <li class="nav-item">
        <a class="nav-link active" aria-current="page" href="/">Home</a>
    </li>
{% endblock %}

{% block main %}

    <form method="POST" action="/upload" enctype="multipart/form-data">
        <input type="file" name="dicom_file" accept=".dcm">
        <input type="submit" value="Upload">
    </form>

    {% if error %}
        <p>Error: {{ error }}</p>
    {% endif %}
{% endblock %}