{% extends "layout.html" %}

{% block title %}
    Upload
{% endblock %}

{% block nav_item %}
    <li class="nav-item">
        <a class="nav-link active" aria-current="page" href="/">Home</a>
    </li>
    <li class="nav-item">Viewing: {{ filename }}</li>
{% endblock %}

{% block main %}
    <form action="/export" method="post">
        <p id="text_slice">Slice: <output id="value1"></output></p>
        <input id="slice" name="slice_index" type="range" min="0" max="{{ total_slices - 1 }}" step="1" value="0">
        
        <p id="window_center_label">Window Center (Brigth): <output id="value2"></output></p>
        <input type="range" id="window_center" name="window_center" 
               min="-1000" max="3000" step="10" value="500">
        
        <p id="window_width_label">Window Width (Contrast): <output id="value3"></output></p>
        <input type="range" id="window_width" name="window_width" 
               min="1" max="4000" step="10" value="2000">
        
        <input type="submit" value="Export as PNG">
    </form>

    <img src="data:image/png;base64,{{ image_data }}" 
         alt="Imagen DICOM"
         id="image"
         style="max-width: 100%; height: auto;">
    
    
{% endblock %}

{% block script %}
    <script src="script.js"></script>
{% endblock %}